@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

body {
	margin: 0;
}

.buy {
	display: block;
	margin: 0 auto;
	text-align: right;
	padding-right: 15px;
}

.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 20%;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 1.5rem;
	padding: 10px;
}

.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #835040;
}

.nav a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: .5em 1em;
}

.nav ul {
	margin: 0;
	padding: 0;
}

h2{
	text-align: center;
	margin:0;
	clear: both;
	padding-top: 20px;
}

figure {
	margin: 0;
}


.banner {
	background: url("../images/maerten-van-heemskerck.jpg") center center / cover no-repeat;
	width: 100%;
	margin: 0;
	position: relative;
	color: #fff;
	text-align: center;
	display: block;
}

.banner p {
	padding-bottom: 20px;
}

.banner h2 {
	padding-top: 30px;
}

img {
	width: 100%;
	padding: 15px;
	padding-top: 10px;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 15px;
}

h3 {
	margin: 15px;
}

ul {
	list-style-type: none;
	padding: 15px;
}

dt {
	padding-left: 15px;
	padding-right: 5px;
	margin: 0;
	font-weight: bold;
}

dd {
	display: block;
	margin: 0;
}

.atlantis {
	background: url("../images/maroti-atlantisz.jpg") center center / cover no-repeat;
	margin: 0;
	width:100%;
	position: relative;
	padding: 2em 15px 0.5em;
	color: #000;
	text-align: center;
	display: block;
	font-size: 12pt;
}

.date {
	float: left;
	text-align: center;
}

.builder{
	float: left;
	text-align: center;
}

.location {
	float: left;
	text-align: center;
}

a {
	padding-left: 15px;
	text-decoration: none;
	clear: left;
}

.footer {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #835040;
}

.footer a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: .5em 1em;
}

.footer ul {
	margin: 0;
	padding: 0;
}

p {
	padding-left: 15px;
}

@media only screen and (min-width: 31em){

	.nav {
		text-align: center;
	}

	.nav li {
		display: inline-block;
	}

.footer {
	text-align: center;
}

	.footer li {
		display: inline-block;
	}

	.footer a {
		padding: 5px;
		font-size: 10pt;
	}

}

@media only screen and (min-width: 45em) {

	.left {
		float: left;
		width: 50%;
}

	.right {
		float: right;
		clear: right;
		width: 50%;
}

	.bottom {
		width: 50%;
	}

	.tickets {
		padding: 20px 10px;
	}

	h2 + p {
		text-align: center;
	}

		ol {
			text-align: center;
		}

}

@media only screen and (min-width: 75em) {

	.wrapper{
		max-width: 45em;
		margin: 0 auto;
	}
}

@media print {

	.buy {
		display: none;
	}

	nav {
		display: none;
	}

	.left {
		float: left;
		width: 50%;
}

	.right {
		float: right;
		clear: right;
		width: 50%;
}

	.bottom {
		width: 50%;
	}

	.learn {
		display: none;
	}

	.banner {
		color: #000;
	}

	.schedule {
		text-align: left;
	}

	a {
		color: #000;
	}

	.not {
		display: none;
	}
}
