html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

body {
	margin: 0;
}

.buy {
	position: absolute;
	top: 20px;
	right: 10px;

}

.logo {
	position: absolute;
	top: 10px;
	width: 13%;
	padding-left: 10px;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 20pt;
	padding: 10px;
}

nav {
	background-color: #835040;
}

nav ul {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
}

nav li {
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 23%;
}
nav a {
	text-decoration: none;
	color: #000;
}

h2{
	margin: 0;
	padding-left: 15px;
	padding-top: 0.5em;
}

figcaption {
	padding: 0em 10px 0.5em;
	margin: 0;
	color: #fff;
	text-align: center;
	position: relative;
	display: block;
	font-size: 12pt;
}

figure {
	margin: 0;
}


.banner {
	background: url("../images/maerten-van-heemskerck.jpg") center center / cover no-repeat;
	margin: 0;
	width:100%;
}

img {
	width: 100%;
}


ol {
	list-style-type: none;
	margin: 0;
	padding: 15px;
}

h3 {
	margin: 15px;
}

.center {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 15px;
}

dl {
	padding-left: 15px;
}

dl dd {
	margin: 0;
	display: block;
}

dl dt {
	display: inline-block;
}

a {
	padding-left: 15px;
	text-decoration: none;
}

.footer li {
	font-size: 10pt;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 19%;
}

.footer a {
	padding: 0;
}

p {
	padding-left: 15px;
}

