html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

body {
	margin: 0;
}

h1 {
	margin: 0;
	text-align: center;
}

nav {
	background-color: #835040;
}

nav ul {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
}

nav li {
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 23%;
}
nav a {
	text-decoration: none;
	color: #000;
}

h2{
	margin: 0;
	padding-left: 15px;
}

figcaption {
	padding-bottom: 3em;
}

figure {
	margin: 0;
}

.intro {
  margin: 0;
  padding: 3em 15px 1em;
  color: #fff;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
}

.banner {
	background-image: url("../images/maerten-van-heemskerck.jpg");
	margin: 0;
	height:100%;
}

img {
	width: 100%;
}


ol {
	list-style-type: none;
	margin: 0;
	padding: 15px;
}

h3 {
	margin: 15px;
}

.center {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 15px;
}

dl {
	padding-left: 15px;
}

dl dd {
	margin: 0;
	display: block;
}

dl dt {
	display: inline-block;
}

a {
	padding-left: 15px;
	text-decoration: none;
}

.footer li {
	font-size: 10pt;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 19%;
}

.footer a {
	padding: 0;
}

p {
	padding-left: 15px;
}
